{% extends 'master/base.html' %}

{% block content %}
<h1>Login Page</h1>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">User Name</label>
    <input type="text" name="username" class="form-control">
  </div>
      
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password"class="form-control">
  </div>
 <input type="hidden" name="next" value="{{ request.GET.next }}">

  <button type="submit" class="btn btn-primary">Login</button>
    <a href=" {% url 'register_view' %}">Don't have an account?</a>
</form>
{% endblock content %}